<h1>People Search</h1>

<p></p>

<p *ngIf="!result"><em>Loading...</em></p>

<div>
    <input id="search-input" placeholder="eg. Amy"/>
    <button>Search</button>
</div>



<table class='table' *ngIf="result">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Birthplace</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of result">
            <td>{{ person.id }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.gender }}</td>
            <td>{{ person.birthplaceid }}</td>
        </tr>
    </tbody>
</table>
